.menu {
    width: 600px;
    position: relative;
    flex-direction: column;
    flex-grow: 1; 
    min-height: 0;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-padding: 32px;
}
