.page {
  max-width: 1240px;
  width: 100%;
  margin: auto;

}

.block {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.Template {
  max-width: 580px;
  width: 100%;
}

.Status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textShadow {
  text-shadow: #3333ff80 0 0 20px;
}